{% load static %}
<a href="{% static '/data/database.csv' %}">link</a>
<p></p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            {% for col in columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
              <td>{{row.id}}</td>
              <td>{{row.name}}</td>
              <td>{{row.web}}</td>
              <td>{{row.output}}</td>
              <td>{{row.date_subscribed}}</td>

            </tr>
         {% endfor %}
    </tbody>
</table>
